anyio
blinker
click
ez-setup
fastapi
Flask
Flask-MySQLdb
Flask-WTF
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
mysqlclient
pydantic
python-dotenv
sniffio
starlette
typing_extensions
Werkzeug
WTForms
